body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000080;
    user-select: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(
        325deg,
        #050125 0%,
        #1003c0 30%,
        #4a38ec 70%,
        #f0effd 100%
    );
    padding: 40px 60px;
}

/* h2 {
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
} */

.title {
    size: 100em;
}

.reset {
    padding: 15px 20px;
    width: 100%;
    color: #000;
    background-color: #fff;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
}

.reset:focus {
    color: #1003c0;
    background-color: #262809;
}

.game {
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-size: 3em;
    transform: rotateY(180deg);
    transition: 0.25s;
}

.item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #404040;
    /* opacity: 0.8; */
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.boxOpen::after, .boxMatch::after {
    transform: rotateY(180deg);
}

/* Mobile Devices (Landscape) and Small Tablets: */

@media screen and (min-width: 481px) and (max-width: 767px) {
  body {
    width: 380px;
  }
  .title {
    size: 3em;
  }
  .game {
    gap: 10px;
  }
  .item {
    width: 70px;
    height: 70px;
    font-size: 3em;
  }
  .reset {
    font-size: 1.5em
  }
}

  

/* Tablets and Small Desktops: */

@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
    width: 500px;
  }
  
  .game {
    gap: 15px;
  }
  .item {
    width: 100px;
    height: 100px;
    font-size: 3em;
  }
  
}

/* Desktops and Laptops: */

@media screen and (min-width: 992px) {
  body {
    width: 800px;
    padding: 10px 15px;
  }
  .title {
    size: 3.5em;
  }
  .game {
    width: 500px;
    gap: 10px;
  }
  .item {
    width: 110px;
    height: 110px;
    font-size: 3.8em;
  }
  .reset {
    width: 500px;
    font-size: 1.8em
  }
}

/* Large Desktops and High-Resolution Displays: */

@media screen and (min-width: 1200px) {

}
